.material-account
  z-index: 11
  position: fixed
  top: 0
  left: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(1,1,1,.4)
  .card-account
    position: fixed
    pointer-events: auto
    top: 64px
    right: 16px
    background-color: rgba(255,255,255,1)
    overflow: visible
    width: 360px
    .component-account-info
      .text-name
        font-size: 1.2em
        font-weight: 600
        margin-bottom: 4px
      .text-email
        color: rgba(0,0,0,.6)
      .component-image
        overflow: hidden
        display: block
        border: 1px solid rgba(0,0,0,.5)
        width: 96px
        height: 96px
        background-color: rgba(0,0,0,.2)
        margin: 8px
        background-size: cover
        border-radius: 50%

      .component-side 
        background-color: transparent
        margin-left: 16px
        .component-info
          background-color: transparent
          .material-textfield
            margin-bottom: 4px
            margin-right: 0
            .textfield-input
              font-size: .7em
        .toolbar-action
          //text-align: right
          padding: 0
          display: flex
          .material-divider
            border-bottom: none
          .button-settings
            width: 40px
            height: 40px
            background-image: url('/theme/minimal/icon/settings.svg')
            background-position: center
            background-repeat: no-repeat

.icon-user 
  //opacity: .4
  z-index: 10
  position: fixed
  top: 14px
  right: 16px
  background-size: cover
  width: 36px
  height: 36px
  border-radius: 50%
  border: 1px solid rgba(1,1,1,.5)

@media only screen and (max-width: 640px)
  .material-account
    z-index: 11
    position: fixed
    top: 0
    left: 0
    bottom: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(1,1,1,.4)
    .card-account
      position: fixed
      pointer-events: auto
      top: 64px
      right: 16px
      left: 10px
      width: 90%
      background-color: rgba(255,255,255,1)
      overflow: visible