.material-appbar
  .component-logo
    z-index: 10
    position: fixed
    top: 0px
    right: 0px
    cursor: pointer
    pointer-events: auto
    width: 216px
    height: 64px
    margin: 0
    margin: 6px 8px
    margin-left: 8px
    background-image: url('/theme/legacy/logo.svg')
    background-size: contain
    background-repeat: no-repeat

  .toolbar-account
    padding: 0
    display: flex
    flex-direction: row
    .button-account
      font-size: 0.9em
      text-transform: uppercase
      border-radius: 7px
      background-color: RGBA(194, 24, 37, 1)
      color: rgb(255, 255, 255)
      padding: 3px 7px 2px
      box-shadow: 4px 4px 0px 0px black
