
.material-login
  z-index: 10
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-color: rgba(0,0,0,.2)
  .card-login
    position: fixed
    background-color: rgba(255,255,255,1)
    width: 320px
    top: 64px
    right: 16px
    //border-radius: 3px
    //box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12)
    .container-inner-form
      padding-bottom: 0
      .material-textfield
        margin-right: 0
    .toolbar-action
      //text-align: right
      padding: 8px
      display: flex
      .material-divider
        border-bottom: none

@media only screen and (max-width: 640px)
  .material-login
    z-index: 10
    position: fixed
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: rgba(0,0,0,.2)
    .card-login
      border-radius: 0
      position: fixed
      background-color: rgba(255,255,255,1)
      left: 0
      top: 0
      right: 0
      width: 100%