.material-contributor,
.material-profile
  z-index: 7
  position: fixed
  top: 0
  left: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(1,1,1,.4)
  .card-contributor,
  .card-profile
    position: relative
    pointer-events: auto
    margin: 100px auto 0
    //display: none
    padding: 16px
    overflow: visible
    justify-content: start
    width: 380px
    max-height: 70%
    transition: .2s height linear
    .text-title
      font-size: .9em
      text-transform: uppercase
      color: #ffffff
      position: absolute
      display: inline-block
      top: -22px
      left: 10px
      padding: 2px
      background-color: #C11824
      border: 2px solid rgba(0,0,0,.4)
      border-radius: 6px
    .component-contributor-info
      .component-image
        overflow: hidden
        display: block
        border: 1px solid rgba(0,0,0,.8)
        width: 132px
        height: 132px
        background-color: rgba(0,0,0,.2)
        margin: 4px 16px 8px 0
 
        background-size: cover
        border-radius: 50%

      .component-side 
        background-color: transparent
        .component-info
          background-color: transparent
          .material-textfield
            margin-bottom: 4px
            margin-right: 0
            padding-top: 14px
            .textfield-label
              font-size: 1em
            .textfield-input
              cursor: default
              font-size: .9em
              background-color: rgba(255,255,255,.1)
              //padding-left: 4px
              padding-top: 8px
              padding-bottom: 6px
              border-bottom: 1px solid transparent

    .component-contributor-awards
      overflow: scroll
      //height: 150px
      .text-awards-label
        //font-size: .8em
        margin-top: 8px
        padding-bottom: 6px
        border-bottom: 1px solid rgba(0,0,0,.1)
      .component-awards-list
        padding-top: 16px
        display: block
        overflow: scroll
        // overflow-y: hidden

        //height: 260px
        .award
          position: relative
          display: inline-block
          width: 84px
          height: 130px
          text-align: center
          img
            display: inline-block
            width: 77.5px
            height: 100px
          .name
            position: absolute
            bottom: 0
            left: 0
            right: 0
            text-align: center
            display: block
            height: 30px
            font-size: .7em



@media only screen and (max-width: 640px)
  .container-now
    bottom: 50px
    width: 64px
    height: 64px
    .card-playing
      border-radius: 0px
      padding: 0
      width: 64px
      .text-playing-title
        display: none
      .component-trackinfo
        margin-bottom: 0px
        .component-track-cover
          overflow: hidden
          display: block
          border: 1px solid rgba(0,0,0,.8)
          width: 64px
          height: 64px
          img
            width: 62px
        .component-track-artist
          display: none
        .component-track-title
          display: none
      .component-track-action
        display: none
    
