.decades
  z-index: 6
  position: fixed
  bottom: 0px
  width: 100%
  height: 85px 
  text-align: center
  .inner
    position: relative
    display: inline-block
    vertical-align: bottom
    height: 85px 
    span
      color: rgba(255,255,255,.8)
      position:absolute
      font-family: Futura
      width: 64px
      height: 70px
      cursor: pointer
      display: inline-block
      padding: 44px 10px 10px
      margin: 15px 8px
      vertical-align: bottom
      bottom: 0
      border: 3px solid rgba(255,255,255,1)
      border-bottom: none
      border-top-left-radius: 12px
      border-top-right-radius: 12px
      background-image: url('/theme/legacy/icon/off.svg') 
      background-repeat: no-repeat
      background-position: center 14px
      background-size: 24px 24px
      background-color: rgba(34, 89, 138, 1.00)
      //box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
      box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1)
      transition: .1s
      &.selected
        cursor: default
        height: 85px
        color: rgba(255,255,255,1)
        padding-top: 59px
        margin-top: 0
        background-image: url('/theme/legacy/icon/on.svg') 
        transition: .2s
      &:hover
        height: 85px
        margin-top: 0
        color: rgba(255,255,255,.9)
        padding-top: 59px
        transition: .2s

@media only screen and (max-width: 640px)
  .material-decade
    bottom: 0px
    width: 100%
    height: 60px
    bottom: 0px
    .inner
      position: relative
      display: inline-block
      vertical-align: bottom
      height: 60px 
      span
        font-size: .9em
        vertical-align: bottom
        position:absolute
        width: 30px
        height: 50px
        cursor: pointer
        display: inline-block
        padding: 26px 1px 10px
        margin: 15px 1px 0 0
        bottom: 0
        background-size: 20px 20px
        background-position: center 5px
        border-top-left-radius: 14px
        border-top-right-radius: 14px
        transition: .1s
        &.selected
          cursor: default
          height: 60px
          color: rgba(255,255,255,1)
          padding-top: 36px
          margin-top: 0
          transition: .2s
        &:hover
          height: 60px
          margin-top: 0
          color: rgba(255,255,255,.9)
          padding-top: 36px
          transition: .2s