
.toolbar-admin-controls
  z-index: 12
  position: fixed
  top: 14px
  right: 64px
  .button-posted-tracks
    .count
      color: rgba(255,255,255,1)
      display: inline-block
      background-color: RGBA(184, 0, 0, 1.00)
      padding: 0 3px
      border-radius: 5px
      margin-left: 4px


      
