
.card-discoverby
  z-index: 1
  pointer-events: auto
  //display: none
  position: absolute
  overflow: visible
  justify-content: start
  width: 128px
  right: 0px
  top: 20px
  padding: 0
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1)
  border-top-left-radius: 0
  border-bottom-left-radius: 0
  border: 2px solid rgb(0, 0, 0)
 
  .contributor-info
    padding: 8px
    background-color: transparent
    border: 4px solid rgba(255,255,255,1)
    border-radius: 8px
    .contributor-title
      font-size: 1em
      padding: 2px 
      text-transform: uppercase
      color: #000000
      position: absolute
      display: inline-block
      top: -17px
      left: 13px
      background-color: #FEF288
      border: 2px solid rgba(0,0,0,.8)
      border-radius: 6px
    .contributor-thumb
      display: block
      width: 100px
      height: 100px
      background-color: rgba(0,0,0,.2)
      border: 2px solid rgba(0,0,0,.8)
      margin-bottom: 8px
      background-size: cover
      //border-radius: 50%
    .contributor-name
      font-size: 1em
      color: rgba(0,0,0,.8)
      display: block
      width: 100px
      text-align: center
      padding: 2px
      border: 2px solid  rgba(0,0,0,.8)
      background-color: rgba(255,255,255,1)



@media only screen and (max-width: 640px)

  .card-contributor
    top: -1000px
    