.material-worldmap 
  .island
    cursor: pointer
    border-radius: 50%
    padding: 6px
    border: 2px solid transparent
    &:hover
      background-color: rgba(255,255,255,.2)
      //border: 2px solid red
    &.selected
      background-color: RGBA(245, 152, 157, .1)
      border: 2px solid RGBA(245, 152, 157, .5)

    img
      pointer-events: none

.splash-island
  z-index: 10
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-color: rgba(0,0,0,.2)
  background-size: 50%
  background-repeat: no-repeat
  background-position: center 30%
  svg
    height: 300px
    margin: 200px auto