$column-width: 60px
$gutter-width: 20px
$columns: 12


@font-face
  font-family: "futura"
  src: url("/theme/legacy/font/Futura-Condensed-Medium.woff") format('woff')

html, body
  overflow-x: hidden
  touch-action: none

body.p404
  background-color: orange
  padding: 0 16px

body
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  background-color: rgba(0, 0, 0, .2)
  font-family: futura
  -webkit-font-smoothing: antialiased
  transition: background-color 1000ms linear
  background-image: url('/theme/legacy/img/bg.jpg')

    
  // .container-main
  //   position: absolute
  //   overflow: hidden
  //   top: 0
  //   left: 0
  //   bottom: 0
  //   right: 0
  //   width: 100%
  //   height: 100%
  //   margin: 0 auto



.country-label
    display: none
    pointer-events: none
    z-index: 3
    font-size: .9em
    position: fixed
    padding: 2px 5px
    background-color: #ffffff
    border: 1px solid rgba(0,0,0,.8)
    border-radius: 4px
    &.show
      display: block


.button-menu-navi
  display: none
  z-index: 10
  position: fixed
  top: 14px
  left: 8px


.button-menu-account
  
  z-index: 10
  position: fixed
  top: 14px
  right: 8px


.button-menu-user
  
  z-index: 10
  position: fixed
  top: 14px
  right: 52px
  

.material-dialog
  .dialog-surface
    .dialog-title
      margin: 12px
      margin-bottom: 0  

.material-form
  background-color: transparent
  .container-inner-form
    padding: 0 16px 16px 16px

@media only screen and (max-width: 640px)
  .button-logo-radiooooo
    display: none

  .button-menu-navi
    display: inline-block
    z-index: 10
    position: fixed
    top: 14px
    left: 8px

  .container-main
    width: 100%
    margin: 0 auto

