.material-card
  padding: 7px
  background-color: #F5999D
  border-radius: 8px
  border: 4px solid #ffffff
  //box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1)
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)

.material-button
  font-size: 0.9em
  text-transform: uppercase
  border-radius: 7px
  //background-color: RGBA(194, 24, 37, 1)
  color: rgb(255, 255, 255)
  padding: 3px 7px 2px
  box-shadow: 4px 4px 0px 0px black

.material-component
  background-color: transparent

.material-list 
  .material-button 
    flex-wrap: nowrap
    width: inherit
    display: inline-block

// Material Textfield

.material-textfield
  display: block
  position: relative
  margin-right: 16px
  padding-top: 8px
  margin-bottom: 8px
  vertical-align: top

  .textfield-label
    transition: .2s
    color: rgba(0, 0, 0, 0.3)
    position: absolute
    font-size: .7em
    top: 0

  .textfield-underline
    position: absolute
    opacity: 0
    left: 50%
    bottom: 0px
    height: 2px
    width: 2px
    background-color: #4891F4
    transition: .1s

  &.textfield-error
    .textfield-label
      color: #F44336
      color: #D6392C

    textarea,
    input
      border-bottom: 1px solid #F44336


// states
.material-textfield
  &.is-focused
    .textfield-label
      transition: .2s
      color: #4891F4
      font-size: .7em
      top: 0
    &.textfield-error
      .textfield-label
        color: #F44336
        color: #D6392C

    .textfield-underline
      opacity: 1
      display: block
      width: 100%
      left: 0
      transition: .1s

  // .material-textfield
  //   margin-bottom: 4px
  //   margin-right: 0
  //   padding-top: 14px
  //   .textfield-label
  //     //font-size: 1em
  //   .textfield-input
  //     cursor: default
  //     font-size: .9em
  //     background-color: rgba(255,255,255,.1)
  //     //padding-left: 4px
  //     padding-top: 8px
  //     padding-bottom: 6px
  //     //border-bottom: 1px solid transparent


  &.is-empty
    .textfield-label
      transition: .2s
      pointer-events: none
      position: absolute
      top: 20px
      left: 0
      display: block
      font-size: 1em
      //color: rgba(0, 0, 0, 0.3)
      padding: 0 2px 0 0

    &.is-focused
      .textfield-label
        transition: .2s
        color: #4891F4
        font-size: .7em
        top: 0

    .textfield-input
      float: none
      width: 100%
      border: none
      margin: 0

      // margin-top: 13px
      background-color: transparent
      border-radius: 0
      border-bottom: 1px solid rgba(0, 0, 0, 0.12)

      //outline:none

  .textfield-input
    float: none
    width: 100%
    padding: 12px 8px 8px 0
    border: none
    margin: 0
    background-color: transparent
    border-radius: 0
    border-bottom: 1px solid rgba(0, 0, 0, 0.12)


  select
    // position: absolute
    // left: 0
    padding: 12px 8px 8px 0
    font-size: 16px
    border: none
    width: 100%
    height: 40px
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    background: transparent
    //background: url() 96% / 15% no-repeat #eee

    //outline:none
    &:hover
      cursor: default

      //background-color: rgba(100, 100, 100, .06)

    &:focus
      cursor: text

  input[readonly],
  textarea[readonly]
    //color: #9A9A9A
    //color: rgba(0, 0, 0, 1)
    //background-color: rgba(255,255,255,1)
    border-bottom: 1px dashed rgba(0, 0, 0, 0.12)

    &:hover
      cursor: default

      //background-color: rgba(255,255,255,1)

    &:focus,
    &:active
      cursor: text
      border-bottom: 1px dashed rgba(0, 0, 0, 0.12) !important

      //background-color: rgba(255,255,255,1)


.material-divider
  border: 0


// select
//   position: absolute
//   left: 0
//   padding: 12px 8px 8px 0
//   font-size: 16px
//   border: none
//   width: 100%
//   height: 40px
//   -webkit-appearance: none
//   -moz-appearance: none
//   appearance: none
//   background: transparent
//   //background: url() 96% / 15% no-repeat #eee

// select::-ms-expand 
//     display: none /* remove default arrow on ie10 and ie11 */

// /* target Internet Explorer 9 to undo the custom arrow */
// @media screen and (min-width:0\0)
//     select
//         background:none\9
//         padding: 5px\9
    




.dark-theme
  .material-textfield
    .textfield-label
      transition: .2s
      color: rgba(255, 255, 255, 0.3)

    .textfield-input
      border-bottom: 1px solid rgba(255, 255, 255, 0.12)

@media only screen and (max-width: 640px)
  .material-textfield
    textarea,
    input
      font-size: 16px
