
.material-mode
  z-index: 3
  position: fixed
  display: block
  top: 84px
  left: 14px
  width: 156px
  height: 90px
  background-color: #F5999D
  padding: 7px
  background-color: rgb(245, 153, 157)
  border-radius: 10px
  border: 4px solid rgb(255, 255, 255)
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.7)
  .sound-control
    position: absolute
    top: 42px
    left: 8px
    width: 36px
    height: 36px
    background-image: url('/img/control/sound.svg')
    background-size: cover
    &.off
      background-image: url('/img/control/sound_off.svg')
  .taxi-control
    position: absolute
    top: 18px
    left: 8px
    width: 48px
    height: 48px
    background-image: url('/theme/control/taxi.svg')
    background-size: cover
    &.on
      background-image: url('/img/control/taxi_on.svg')
  .random-control
    position: absolute
    top: 18px
    left: 60px
    width: 56px
    height: 48px
    background-image: url('/img/control/random.svg')
    background-size: cover
    &.on
      background-image: url('/img/control/random_on.svg')


@media only screen and (max-width: 1024px)
  .material-board
    overflow: hidden
    top: 10px
    left: 10px
    width: 64px
    height: 170px
    padding: 8px 0
    border-radius: 32px
    border-bottom: 1px solid rgba(255,255,255,1)
    border-bottom: none
    background-image: none
    background-color: RGBA(36, 88, 136, .4)
    text-align: center
    .sound-control
      position: relative
      top: inherit
      left: 14px
      width: 36px
      height: 36px
      background-image: url('/img/control/mute.svg')
      background-size: cover
      margin-bottom: 8px
    .taxi-control
      position: relative
      top: inherit
      left: 14px
      width: 40px
      height: 40px
      background-image: url('/img/control/taxi.svg')
      background-size: cover
      margin-top: 8px
      &.on
        background-image: url('/img/control/taxi_on.svg')
    .random-control
      position: relative
      top: inherit
      left: 8px
      width: 50px
      height: 44px
      background-image: url('/img/control/random.svg')
      background-size: cover
      margin-top: 8px