.material-moods
  z-index: 1
  position: fixed
  top: 164px
  left: 24px
  width: 142px
  padding-left: 16px
  height: 70px
  background-color: rgba(0,0,0,.1)
  margin: 0 auto
  text-align: center
  background: url('/theme/legacy/moods/label.svg') no-repeat left bottom
  span
    font-size: .8em 
    text-align: center
    cursor: pointer
    padding-top: 20px
    margin: 0 1px
    display: inline-block
    color: rgba(1,1,1,.7)
    height: 64px
    width: 35px
    border-radius: 20px 20px
    background-image: url('/theme/legacy/icon/off.svg') 
    background-repeat: no-repeat
    background-position: center 34px
    background-size: 24px 24px
    background-color: RGBA(131, 203, 239, 1.00)
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.7)
    &:hover
      //background-image: url('/img/moods/selected.svg')
    &.selected
      background-image: url('/theme/legacy/icon/on.svg')
      cursor: default
      


@media only screen and (max-width: 640px)
  .material-moods
    z-index: 1
    position: fixed
    top: -16px
    left: 70px
    width: 142px
    padding-left: 16px
    height: 70px
    background-color: rgba(0,0,0,.1)
    margin: 0 auto
    text-align: center
    background: url('/theme/legacy/moods/label.svg') no-repeat left bottom


