.container-now
  z-index: 3
  pointer-events: none
  position: fixed
  bottom: 50px
  left: 10px
  width: 292px
  height: 322px
  .card-playing
    padding: 0
    z-index: 2
    pointer-events: auto 
    //display: none
    position: absolute
    overflow: visible
    justify-content: start
    width: 166px
    left: 0px
    top: 0px
    background-color: #FFCBCC
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1)
    border: 2px solid rgb(0, 0, 0)
    .text-playing-title
      font-size: 1em
      text-transform: uppercase
      color: #000000
      position: absolute
      display: inline-block
      top: -18px
      left: 58px
      padding: 2px
      background-color: #FEF288
      border: 2px solid rgba(0,0,0,.8)
      border-radius: 6px
    .inner
      border: 4px solid rgba(255,255,255,1)
      border-radius: 8px
      .track-info
        margin: 7px
        margin-bottom: 8px 
        .track-cover
          display: block
          border: 2px solid rgba(0,0,0,.8)
          width: 140px
          height: 140px
          background-color: rgba(0,0,0,.2)
          background-size: cover

        .track-artist
          font-size: .9em
          font-weight: 600
          text-transform: uppercase
          color: rgba(255,255,255,.87)
          display: block
          text-align: center
          padding: 3px 2px
          background-color: rgba(0,0,0,1)
        .track-title
          font-size: .9em
          font-weight: 600
          color: rgba(255,255,255,.87)
          text-transform: uppercase
          color: #ffffff
          display: block
          text-align: center
          padding: 3px 2px
          background-color: #696A6C

      .track-action
        display: flex
        flex-direction: row
        background-color: transparent
        
        padding: 0px 5px
        .material-button
          flex: 1
          display: flex
          flex-direction: row
          //width: 42px
          height: 58px
          margin: 0 4px 4px
          padding: 0px
          text-align: center
          border-radius: 5px
          .button-icon
            text-align: center
            width: 42px
            height: 40px
            padding: 2px
            //background-color: rgba(0, 0, 0, .2)
            border-radius: 5px
            box-shadow: 2px 2px 0px 0px black
          &:hover
            .button-icon
              box-shadow: 1px 1px 0px 0px black
          .button-label
            font-weight: 500
            font-family: futura
            font-size: 10px
            padding: 0 2px
            text-align: center
            width: 100%
          .number
            font-family: futura
            font-size: .8em
            font-weight: 600
            z-index: 10
            top: 0
            width: 100%
            margin: 0 auto
            left: -1px
            top: 10px
            text-align: center
            flex: none
            display: block
            //width: 24px
            height: 24px
            position: absolute
            color: rgba(255,255,255,1)
          
        .material-button.button-share-track
          .button-icon
            background-color: #3992BA
        .material-button.button-like-track
          .button-icon
            background-color: #FFFFFF
        .material-button.button-buy-track
          opacity: .5
          pointer-events: none
          &:hover
            .button-icon
              box-shadow: 2px 2px 0px 0px black
          &.buy
            opacity: 1
            pointer-events: auto
            .button-icon
              box-shadow: 2px 2px 0px 0px black
              &:hover
                box-shadow: 1px 1px 0px 0px black
          .button-icon
            background-color: #CCED98



@media only screen and (max-width: 640px)
  .container-now
    bottom: 50px
    width: 64px
    height: 64px
    .card-playing
      border-radius: 0px
      padding: 0
      width: 64px
      border: none
      .text-playing-title
        display: none
      .component-trackinfo
        padding: 0
        margin: 0px
        .component-track-cover
          overflow: hidden
          display: block
          border: 1px solid rgba(0,0,0,.8)
          width: 64px
          height: 64px
          img
            width: 62px
        .component-track-artist
          display: none
        .component-track-title
          display: none
      .component-track-action
        display: none
    .card-discoverby
      top: -10000px
    
