.material-posttrack-control
  cursor: pointer
  position: fixed
  bottom: 32px
  left: 32px
  width: 100px
  height: 80px
  &.whenplaying
    transition: .2s left linear
    bottom: 100px
    left: 172px

  .posttrack-button
    font-size: .9em
    text-transform: uppercase
    position: absolute
    top: 16px
    right: -16px
    border-radius: 7px
    background-color: RGBA(194, 24, 37, 1.00)
    color: rgba(255,255,255,1)
    padding: 3px 7px 2px
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1)
  .posttrack-image
    width: 90px
    height: 90px
    background-image: url('/theme/legacy/icon/posttrack.svg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    
  &:hover
    .posttrack-button
      color: RGBA(194, 24, 37, 1.00) 
      background-color: rgba(255,255,255,1)
    .posttrack-image
      animation: spin 1s linear infinite
      transition: 1s transform linear


@keyframes spin
  100% 
    transform: rotate(360deg)


.material-posttrack
  z-index: 20
  position: fixed
  top: 0
  left: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(1,1,1,.4)

  //text-align: center
  .card-posttrack
    position: relative
    pointer-events: auto
    margin: 100px auto 0
    //display: none
    overflow: visible
    justify-content: start
    width: 460px
    padding: 16px
    //border: none
    background-color: rgba(255,255,255,1)
    background-color: RGBA(254, 229, 50, 1.00)
    .text-posttrack-title
      font-size: .9em
      text-transform: uppercase
      color: #ffffff
      position: absolute
      display: inline-block
      top: -22px
      left: 10px
      padding: 2px
      background-color: #C11824
      border: 2px solid rgba(0,0,0,.8)
      border-radius: 6px

    .component-post-track
      position: relative
      overflow: hidden
      display: inline-block
      background-image: url('/img/upload/track.svg')
      background-size: cover
      text-align: center
      input[type=file]
        font-size: 100px
        position: absolute
        left: 0
        top: 0
        bottom: 0
        right: 0
        width: 200px
        height: 200px
        opacity: 0
      .material-text
        font-size: 1.4em
        display: inline-block
        padding: 16px
        margin-top: 64px
        color: rgba(0,0,0,0.2)
        &:hover
          color: rgba(0,0,0,0.8)

    .component-post-cover
      position: relative
      overflow: hidden
      display: inline-block
      background-image: url('/img/upload/cover.svg')
      background-size: cover
      background-position: center
      text-align: center
      input[type=file]
        font-size: 100px
        position: absolute
        left: 0
        top: 0
        bottom: 0
        right: 0
        width: 200px
        height: 200px
        opacity: 0
      .material-text
        font-size: 1.4em
        display: inline-block
        padding: 16px
        margin-top: 64px
        color: rgba(0,0,0,0.2)
        &:hover
          color: rgba(0,0,0,0.8)
      




    .material-textfield
      margin-right: 0
    .component-left
      background-color: transparent
      margin-bottom: 8px
      margin-right: 16px
      .component-post-track
        overflow: hidden
        display: block
        border: 1px solid rgba(0,0,0,.8)
        width: 200px
        height: 200px
        background-color: rgba(0,0,0,.2)
        margin-bottom: 16px
        //margin-right: 16px

    .component-right
      background-color: transparent
      .component-post-cover
        overflow: hidden
        display: block
        border: 1px solid rgba(0,0,0,.8)
        width: 200px
        height: 200px
        background-color: rgba(0,0,0,.2)
        margin-bottom: 16px
        //margin-right: 16px
      .component-track-text
        background-color: transparent
        .material-textfield
          margin-bottom: 4px
          margin-right: 0
          .textfield-input
            font-size: .7em

    .component-post-action
      //display: block
      .material-divider
        border-bottom: none
      .material-button
        margin: 0

@media only screen and (max-width: 640px)
  .material-posttrack-control
    display: none

