.material-register
  z-index: 7
  position: fixed
  top: 0
  left: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(1,1,1,.4)
  .card-register
    position: fixed
    pointer-events: auto
    top: 64px
    right: 16px
    padding: 8px
    background-color: rgba(255,255,255,1)
    overflow: visible
    justify-content: start
    width: 380px
    max-height: 70%
    transition: .2s height linear
    
    .text-title
      text-transform: uppercase
    .component-body
      padding: 0 8px
      .material-textfield
        margin-right: 0
      .component-image
        position: relative
        overflow: hidden
        cursor: pointer
        overflow: hidden
        display: block
        border: 1px solid rgba(0,0,0,.5)
        width: 132px
        height: 132px
        background-color: rgba(0,0,0,.2)
        margin: 16px 16px 16px 0
        background-size: cover
        background-position: center
        border-radius: 50%
        input[type=file]
          cursor: pointer
          font-size: 100px
          position: absolute
          left: 0
          top: 0
          bottom: 0
          right: 0
          width: 132px
          height: 132px
          opacity: 0
        .material-text
          pointer-events: none
          text-align: center
          font-size: 1.4em
          display: inline-block
          padding: 16px
          margin-top: 24px
          color: rgba(0,0,0,0.2)
          &:hover
            color: rgba(0,0,0,0.8)

      .component-left
        width: 132px
        margin-right: 16px
      .component-right
        background-color: transparent

        
    



@media only screen and (max-width: 640px)
