.material-social
  position: fixed
  top: 100px
  right: 16px
  width: 32px
  a
    display: block
    width: 28px
    height: 28px
    border: none
    background-size: cover
    background-position: center
    margin: 5px
    &.facebook
      background-image: url(/theme/legacy/icon/social/facebook.svg)
    &.twitter
      background-image: url(/theme/legacy/icon/social/twitter.svg)
    &.instagram
      background-image: url('/theme/legacy/icon/social/instagram.svg')

@media only screen and (max-width: 640px)
  .material-social
    display: none
    
