.trackinfo
  z-index: 7
  position: fixed
  top: 0
  left: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(1,1,1,.4)
  //text-align: center
  .card-trackinfo
    display: flex
    flex-direction: row
    position: relative
    pointer-events: auto
    margin: 100px auto 0
    //display: none
    overflow: visible
    justify-content: start
    width: 460px
    //height: 430px
    padding: 16px
    .text-title
      font-size: .9em
      text-transform: uppercase
      color: #ffffff
      position: absolute
      display: inline-block
      top: -22px
      left: 10px
      padding: 2px
      background-color: #C11824
      border: 2px solid rgba(0,0,0,.8)
      border-radius: 6px
    .cover
      background-color: transparent
      margin-bottom: 8px
      overflow: hidden
      display: block
      border: 1px solid rgba(0,0,0,.8)
      width: 250px
      height: 250px
      background-color: rgba(0,0,0,.2)
      margin-bottom: 16px
      margin-right: 16px
      background-size: cover
      background-position: center

    .side
      background-color: transparent
      .info
        background-color: transparent
        .field
          margin-bottom: 4px
          margin-right: 0
          padding-top: 14px
          .label
            font-size: 1em
          .material-text
            cursor: default
            font-size: .9em
            background-color: rgba(255,255,255,.1)
            //padding-left: 4px
            padding-top: 8px
            padding-bottom: 6px
            border-bottom: 1px solid transparent


    .component-track-action
      background-color: transparent
      flex-direction: row
      padding: 0px
      .material-button
        flex: 1
        display: flex
        flex-direction: column
        //width: 42px
        height: 58px
        margin: 0 4px 4px
        padding: 0px
        text-align: center
        border-radius: 5px
        .button-icon
          text-align: center
          width: 42px
          height: 40px
          padding: 2px
          //background-color: rgba(0, 0, 0, .2)
          border-radius: 5px
          box-shadow: 2px 2px 0px 0px black
        &:hover
          .button-icon
            box-shadow: 1px 1px 0px 0px black
        .buuton-like-track.button-label
          font-weight: 500
          font-family: futura
          font-size: 10px
          padding: 0 2px
          text-align: center
          width: 100%
        .number
          font-family: futura
          font-size: .8em
          font-weight: 600
          z-index: 10
          top: 0
          width: 100%
          margin: 0 auto
          left: -1px
          top: 10px
          text-align: center
          flex: none
          display: block
          //width: 24px
          height: 24px
          position: absolute
          color: rgba(255,255,255,1)
        
      .material-button.button-share-track
        .button-icon
          background-color: #3992BA
      .material-button.button-like-track
        .button-icon
          background-color: #FFFFFF
      .material-button.button-buy-track
        .button-icon
          background-color: #CCED98

@media only screen and (max-width: 640px)
  .container-now
    bottom: 50px
    width: 64px
    height: 64px
    .card-playing
      border-radius: 0px
      padding: 0
      width: 64px
      .text-playing-title
        display: none
      .component-trackinfo
        margin-bottom: 0px
        .component-track-cover
          overflow: hidden
          display: block
          border: 1px solid rgba(0,0,0,.8)
          width: 64px
          height: 64px
          img
            width: 62px
        .component-track-artist
          display: none
        .component-track-title
          display: none
      .component-track-action
        display: none
    
