.material-worldmap
  cursor: grab
  position: absolute
  margin: 0 auto
  width: 100%
  height: 100%
  transition: .3s transform 

  .map
    opacity: 0
    overflow: hidden
    position: absolute
    top: 0
    left: 0
    top: 0
    bottom: 0
    width: 4090px
    height: 3950px
    //box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
    border: 8px solid rgba(255,255,255,1)
    border-radius: 12px
    background-color: rgba(172, 217, 253, .8)
    background-color: rgba(255,255,255, 1)


    &.show
      opacity: 1
      transition: .3s opacity ease

    .bg
      opacity: 1
      position: absolute
      bottom: 0
      top: -10px
      left: -10px
      right: 0
      background-image: url('/img/map/bghd.jpg')
      background-size: cover
      background-position: 12px 18px
      background-repeat: no-repeat

    .svg
      position: absolute
      bottom: 0
      top: 0
      right: 0
      left: 0
      width: 100%
      height: 100%

      &.tiny svg path
        stroke-width: 1.4
      &.small svg path
        stroke-width: 1.1
      &.medium svg path
        stroke-width: .8
      &.large svg path  
        stroke-width: .8
      &.huge svg path
        stroke-width: .6
      &.xhuge svg path
        stroke-width: .4

    svg.worldmap
      position: absolute
      left: 1045px
      top: 1480px
      width: 5408px
      height: 4500px
      margin: 0 auto
      path
        cursor: pointer
        fill: #fffda0
        fill-opacity: .5
        fill-rule: evenodd
        stroke: rgba(0,0,0,1)
        stroke-opacity: 1
        stroke-width: 1
        stroke-linejoin: round
        stroke-linecap: round
        transition: fill .2s ease, fill-opacity .2s ease
      path:hover
        fill: rgba(246, 191, 193, .8)
        transition: fill .2s ease, fill-opacity .2s ease
      path.selected
        stroke: rgba(0,0,0,1)
        fill-opacity: .7
        cursor: default
        fill: rgba(246, 191, 193, 1.00)        
      path.selected:hover
        stroke: rgba(0,0,0,.2)
        fill-opacity: .7
        cursor: default
        fill: rgba(246, 191, 193, 1.00)
      path.empty
        stroke-opacity: 0.5
        cursor: default
        fill: #ffffff
        fill-opacity: .3
      path.empty:hover
        stroke-opacity: 0.5
        cursor: default
        fill: #ffffff
        fill-opacity: .3
        
      

  &.taxi
    .map
      svg.worldmap
        path
          //transition: fill 0.1s ease-in, fill-opacity 0.3s ease-in, stroke 0.3s ease-in, stroke-opacity, 0.3s ease-in
          fill: #ffffff
          fill-opacity: .8
          stroke: rgba(0,0,0,.2)
          stroke-opacity: 1
        path:hover
          stroke: rgba(0,0,0,.2)
          stroke-opacity: 1
          fill-opacity: .1
          fill: RGBA(190, 0, 6, .5)
        path.selected
          stroke: rgba(0,0,0,.2)
          stroke-opacity: .5
          fill-opacity: .4
          fill: RGBA(190, 0, 6, .5)
        path.selected:hover
          stroke: rgba(0,0,0,.2)
          fill-opacity: .4
          fill: RGBA(190, 0, 6, .5)
        path.selected.playing
          fill-opacity: .8
          fill: RGBA(190, 0, 6, .5)
        path.empty
          stroke: rgba(0,0,0,.2)
          stroke-opacity: .3
          fill-opacity: .5
          fill: RGB(255,255,255)
        path.empty:hover
          stroke: rgba(0,0,0,.2)
          stroke-opacity: .1
          fill-opacity: .5
          fill: RGB(255,255,255)
       
        

