
.material-zoom
  z-index: 3
  position: fixed
  display: block
  top: 80px
  left: 192px
  width: 48px
  height: 68px
  .zoom-in
    cursor: pointer
    position: absolute
    top: 0
    left: 0
    width: 36px
    height: 36px
    background-image: url('/theme/legacy/icon/zoom_in.svg')
    background-repeat: no-repeat
    background-size: contain
  .zoom-out
    cursor: pointer
    position: absolute
    bottom: 0
    right: 0
    width: 36px
    height: 36px
    background-image: url('/theme/legacy/icon/zoom_out.svg')
    background-repeat: no-repeat
    background-size: contain
  svg
    width: 36px
    height: 36px

@media only screen and (max-width: 640px)
  .material-zoom
    display: none